@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Current Date: @CurrentDate</p>

@foreach(var user in result){
    <p>@user.Name @user.Email @user.Phone</p>
}


@code{

    public class User
    {
        public int UserId { get; set; }

        public string Name { get; set; } = null!;

        public string Email { get; set; } = null!;

        public string? Phone { get; set; }

        public string PasswordHash { get; set; } = null!;

        public DateTime? CreatedAt { get; set; }
    }

    public User[] result = new User[] { };
    string CurrentDate;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://bookinghotels-4.onrender.com/");

        result = await client.GetFromJsonAsync<User[]>("api/Users");

        return;         
    }
}